each sv in sinhvien
  table.table
    thead
      tr
        th(scope="col") MSSV
        th(scope="col") Hoten
        th(scope="col") NamSinh
        th(scope="col") DiemMon1
        th(scope="col") DiemMon2
        th(scope="col") DiemMon3
        th(scope="col") Email
        th(scope="col") DienThoai
        th(scope="col") Sửa
        th(scope="col") Xoá
    tbody
      tr
        th(scope="row")= sv.MSSV
        td= sv.Hoten
        td= sv.Namsinh
        td= sv.DiemMon1
        td= sv.DiemMon2
        td= sv.DiemMon3
        td= sv.Email
        td= sv.DienThoai
        td
          form(method='GET' action=`/student/${sv._id}`)
            button.btn.btn-primary(type='submit') Sửa sv
        td
          //- button.btn.btn-primary Xoá
          form(method='POST' action=`/student/${sv._id}?_method=DELETE`)
            button.btn.btn-primary(type='submit') Xoá sv