html
  head
    title= 'lab10'
  body
    .container
      h2 Danh sách sinh viên

      each sv in sinhvien
        .sinhvien
          p.mssv= sv.MSSV
          p.hoten= sv.Hoten
          p.namsinh= sv.Namsinh
          p.diemmon1= sv.DiemMon1
          p.diemmon2= sv.DiemMon2
          p.diemmon3= sv.DiemMon3
          p.email= sv.Email
          p.dienthoai= sv.DienThoai

      #custom-search-input
        form(action='/crud' method='POST' target='_blank')
          label(for='MSSV') MSSV:
          input(type='text' name='MSSV')
          br
          br
          label(for='Hoten') Hoten:
          input(type='text' name='Hoten')
          br
          br
          label(for='NamSinh') NamSinh:
          input(type='text' name='NamSinh')
          br
          br
          label(for='DiemMon1') DiemMon1:
          input(type='text' name='DiemMon1')
          br
          br
          label(for='DiemMon2') DiemMon2:
          input(type='text' name='DiemMon2')
          br
          br
          label(for='DiemMon3') DiemMon3:
          input(type='text' name='DiemMon3')
          br
          br
          label(for='Email') Email:
          input(type='text' name='Email')
          br
          br
          label(for='DienThoai') DienThoai:
          input(type='text' name='DienThoai')
          
          input(type='submit' value='Submit')
    